body {
  background-color: #fdb1d2;
  color: #2d2c2c
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(243, 238, 238);
}
h1{
  font-size: xx-large;
}
li{
  color: rgb(102, 21, 98);
  font-size: x-large;
}
button{
  font-style: inherit;
  border-color: aqua;
}
input{
  border-color: aqua;


}
title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#container {
  width: 100%;
}

#main {
  margin: 0 auto;
}

#cat {
  padding: 1rem 0 1rem 0;
}

#contact button {
  cursor: pointer;
}

#cat img {
  transition: 3s;
  filter: brightness(80%);
}

#cat img:hover {
  cursor: wait;
  transition: 0.3s;
  filter: brightness(100%);
}